<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div id="app" class="container">
      <h1>{{mode === 'signup' ? 'Sign Up' : 'Log In'}}</h1>
      <section v-if="mode === 'signup'">
        <form @submit.prevent="signup">
          <div class="group">
            <label for="email">Email:</label>
            <input
              id="email"
              type="email"
              placeholder="Email"
              required
              v-model="email"
              @blur="checkEmail"
            />
          </div>
          <p class="warning" v-if="showError">Please input a valid email</p>
          <div class="group">
            <label for="password">Password:</label>
            <input id="password" type="password" v-model="password" />
          </div>
          <div class="group">
            <label for="confirm_password">Confirm Password:</label>
            <input
              id="confirm_password"
              type="password"
              v-model="confirm_password"
            />
          </div>
          <button class="action" type="submit">Signup</button>
        </form>
        <p v-if="nomatch">Passwords do not match</p>
        <button class="link" type="button" @click="mode = 'login'">
          Click Here if you already have an account
        </button>
      </section>
      <section v-if="mode === 'login'">
        <form @submit.prevent="login">
          <div class="group">
            <label for="email">Email:</label>
            <input id="email" type="text" placeholder="Email" v-model="email" />
          </div>
          <div class="group">
            <label for="password">Password:</label>
            <input id="password" type="password" v-model="password" />
          </div>
          <button class="action" type="submit">Login</button>
        </form>
        <button class="link" type="button" @click="mode = 'signup'">
          Click Here if you want to signup
        </button>
        <br />
        <button class="link" type="button" @click="signout">Sign out</button>
      </section>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
